<div class="main-container">
    <div class="view-container shadow mx-3 mx-xxl-0">
        <div class="view-title">
            <h1>Guardias</h1>
        </div>

        <div class="view-body">
            <div id="opcionesListado" class="d-flex justify-content-between align-items-center">
                <div id="botonesListado">
                    <button class="btn btn-green">
                        <i class="bi bi-printer-fill"></i>
                        Imprimir PDF
                    </button>
                    <button class="btn btn-green ms-3">
                        <i class="bi bi-chevron-double-right"></i>
                        Día siguiente
                    </button>
                </div>

                <p class="fw-semibold m-0">Guardias del día {{ diaActual | date: 'dd/MM/yyyy' }}</p>

            </div>

            <div id="divTabla" class="table-container">

                <table class="table shadow tablaPrincipal">
                    <thead>
                        <tr>
                            <th>Hora</th>
                            <th>Grupo</th>
                            <th>Tramos</th>
                            <th>Detalles</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let ausencia of ausencias">
                            <td>{{ausencia.numRegistro.hora}}</td>
                            <td>{{ausencia.numRegistro.grupo}}</td>
                            
                            <td class="celdaGrafico">
                                <div class="graficoTramos">
                                    <button class="btn-tramo"></button>
                                    <button class="btn-tramo"></button>
                                    <button class="btn-tramo"></button>
                                    <button class="btn-tramo"></button>
                                </div>
                            </td>
                            <td><button class="btn-detalles"><i class="bi bi-plus-square-fill"></i></button></td>
                        </tr>
                    </tbody>
                </table>



            </div>






        </div>
    </div>
</div>