<div class="main-container">
  <div class="view-container-form">
    <div class="view-title-form">
      <h1>Registrar ausencia</h1>
    </div>

      <form #formRef="ngForm" (ngSubmit)="onSubmit(formRef)" class="form-container">
        <!--Select profesor-->
        <div class="input-group">
          <label for="tramo" class="registroProfesor">Seleccione profesor</label>
          <select name="regProfesor" id="regProfesor" class="selectRegPersonalizado" [(ngModel)]="ausencia.ProfesorId" required>
            <option [ngValue]="null" disabled selected>Seleccione profesor</option>
            <!--LÓGICA SELECT DINÁMICO MUESTRA TODOS LOS PROFESORES-->
            <option *ngFor="let profesor of profesores" [ngValue]="{ dniProfesor: profesor.id.dniProfesor, cursoAcademico: profesor.id.cursoAcademico }"
            >
              {{ profesor.nombreProfesor }}
            </option>

          </select>

          <!-- Mensaje si no selecciona profesor -->
        <p class="error-message" *ngIf="formRef.submitted && formRef.controls['regProfesor']?.invalid">
          Debe seleccionar un profesor.
        </p>
        </div>

        <!--Día de ausencia-->
      <div class="input-group">
        <label class="fechaAusencia" for="fechaAusencia">Dia de ausencia</label>
        <input type="date" class="form-date datePersonalizado" name="fechaAusencia" id="fechaAusencia"
          [(ngModel)]="ausencia.FechaAusencia" required>

        <!-- Mensaje si no selecciona fecha -->
        <p class="error-message" *ngIf="formRef.submitted && formRef.controls['fechaAusencia']?.invalid">
          Debe seleccionar el día de ausencia.
        </p>
      </div>

        <!--Tramo horario-->
      <div class="input-group">
        <label for="tramo">Seleccione tramo horario</label>
        <select name="tramoRegistro" id="tramoRegistro" class="selectRegPersonalizado" [(ngModel)]="ausencia.Hora"
          required>
          <option disabled selected>Seleccione tramo(s)</option>
          <option value="diaCompleto">Día completo</option>
          <option value="primeraHora">Primera Hora</option>
          <option value="segundaHora">Segunda hora</option>
          <option value="terceraHora">Tercera hora</option>
          <option value="cuartaHora">Cuarta hora</option>
          <option value="quitaHora">Quinta hora</option>
          <option value="sextaHora">Sexta hora</option>
        </select>

        <!-- Mensaje si no selecciona tramo -->
        <p class="error-message" *ngIf="formRef.submitted && formRef.controls['tramoRegistro']?.invalid">
          Debe seleccionar un tramo horario.
        </p>
      </div>
      <!--Motivo-->
      <div class="input-group">
        <label for="motivo">Motivo</label>
        <textarea id="motivo" name="motivo" rows="6" [(ngModel)]="ausencia.Comentario" required></textarea>

        <!-- Mensaje si no escribes un motivo -->
        <p class="error-message" *ngIf="formRef.submitted && formRef.controls['motivo']?.invalid">
          Debe escribir un motivo.
        </p>
      </div>
      <!--Botones-->
      <div class="button-group">
        <button type="submit" class="btn btn-green">
          <i class="bi bi-check-circle-fill"></i>
          Confirmar
        </button>
        <button type="button" class="btn btn-red" (click)="limpiarFormulario(formRef)">
          <i class="bi bi-x-circle-fill"></i>
          Limpiar
        </button>
      </div>
    </form>

  </div>
</div>

