<div class="modal fade" id="detGuardiaModal" tabindex="-1" aria-labelledby="detGuardiaModalLabel"
  [ngClass]="{'show': modalActivo}" [style.display]="modalActivo ? 'block' : 'none'">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center w-100" id="detGuardiaModalLabel">Detalles de Guardia</h5>
        <button type="button" class="btn-close" (click)="cerrarModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="pb-2">
            <p class="mb-1" style="font-weight: 500;">Profesor ausente: </p>
            <p class="mt-1 ps-3" style="font-size: 16px;"> {{ ausencia?.profesor?.nombreProfesor }} </p>
        </div>
        <div class="pb-2">
            <p class="mb-1" style="font-weight: 500;">Asignatura: </p>
            <p class="mt-1 ps-3" style="font-size: 16px;"> {{ ausencia?.horariosProfesor?.asignatura }} </p>
        </div>
        <div class="pb-2">
            <p class="mb-1" style="font-weight: 500;">Aula: </p>
            <p class="mt-1 ps-3" style="font-size: 16px;"> {{ ausencia?.horariosProfesor?.aula }} </p>
        </div>
        <div class="pb-2">
            <p class="mb-1" style="font-weight: 500;">Tarea: </p>
            <p class="mt-1 ps-3" style="font-size: 16px;"> {{ ausencia?.tarea }} </p>
            <div *ngIf="ausencia?.fichero" class="div-fichero">
              <i class="bi bi-filetype-pdf icon-pdf" (click)="cargarPDF()"></i>
              <p class="texto-fichero" (click)="cargarPDF()"> {{ nombreFichero }} </p>
            </div>
        </div>


      </div>
    </div>
  </div>
</div>