<div class="modal fade" id="tramosModal" tabindex="-1" aria-labelledby="tramosModalLabel" aria-hidden="true" [ngClass]="{'show': modalActivo}" [style.display]="modalActivo ? 'block' : 'none'">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center w-100" id="tramosModalLabel">Tramos de Guardia</h5>
          <button type="button" class="btn-close" (click)="cerrarModal()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p> {{ idAusencia }} </p>
        </div>
      </div>
    </div>
  </div>
