<div class="modal fade" id="tramosModal" tabindex="-1" aria-labelledby="tramosModalLabel"
  [ngClass]="{'show': modalActivo}" [style.display]="modalActivo ? 'block' : 'none'">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center w-100" id="tramosModalLabel">Tramos de Guardia</h5>
        <button type="button" class="btn-close" (click)="cerrarModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form *ngIf="modalActivo" #formTramos="ngForm" (ngSubmit)="registrarGuardias(formTramos)">
          <div>
            <div class="linea-checkbox">
              <label class="checkboxPersonalizado">
                <input type="checkbox" id="primerTramo" name="tramo" value="1" [checked]="existeTramoGuardia(1)"
                  [disabled]="existeTramoGuardia(1) || existeHoraCompleta() || deshabilitarTramo()" (change)="estadoCheckbox($event,1)">
                <span class="recuadroCheck"></span>
                Primer tramo
              </label>
              <button *ngIf="usuario?.rol == 'Equipo Directivo' && existeTramoGuardia(1)
              || (usuario?.rol == 'Profesor' && esProfesorDeGuardia(1))" class="btn-eliminar"
                type="button" (click)="confirmarEliminar(1)"><i class="bi bi-x-circle-fill"></i></button>
            </div>
            <p class="profesorGuardia">Profesor: {{ cargarProfesorPorTramo(1) }}</p>
            <select *ngIf="usuario?.rol == 'Equipo Directivo' && checkboxMarcados[1] && !existeTramoGuardia(1)"
              [attr.data-tramo]="1" name="profesorGuardia" class="form-select selectFiltroPersonalizado">
              <option [ngValue]="null">Seleccione profesor</option>
              <option *ngFor="let profesor of profesores" [value]="profesor.nombreProfesor">
                {{ profesor.nombreProfesor }}
              </option>
            </select>
          </div>

          <div>
            <div class="linea-checkbox">
              <label class="checkboxPersonalizado">
                <input type="checkbox" id="segundoTramo" name="tramo" value="2" [checked]="existeTramoGuardia(2)"
                  [disabled]="existeTramoGuardia(2) || existeHoraCompleta() || deshabilitarTramo()" (change)="estadoCheckbox($event,2)">
                <span class="recuadroCheck"></span>
                Segundo tramo
              </label>
              <button *ngIf="usuario?.rol == 'Equipo Directivo' && existeTramoGuardia(2) 
                  || (usuario?.rol == 'Profesor' && esProfesorDeGuardia(2))" class="btn-eliminar"
                type="button" (click)="confirmarEliminar(2)"><i class="bi bi-x-circle-fill"></i></button>
            </div>
            <p class="profesorGuardia">Profesor: {{ cargarProfesorPorTramo(2) }}</p>
            <select *ngIf="usuario?.rol == 'Equipo Directivo' && checkboxMarcados[2] && !existeTramoGuardia(2)"
              [attr.data-tramo]="2" name="profesorGuardia" class="form-select selectFiltroPersonalizado">
              <option [ngValue]="null">Seleccione profesor</option>
              <option *ngFor="let profesor of profesores" [value]="profesor.nombreProfesor">
                {{ profesor.nombreProfesor }}
              </option>
            </select>
          </div>

          <div>
            <div class="linea-checkbox">
              <label class="checkboxPersonalizado">
                <input type="checkbox" id="tercerTramo" name="tramo" value="3" [checked]="existeTramoGuardia(3)"
                  [disabled]="existeTramoGuardia(3) || existeHoraCompleta() || deshabilitarTramo()" (change)="estadoCheckbox($event,3)">
                <span class="recuadroCheck"></span>
                Tercer tramo
              </label>
              <button *ngIf="usuario?.rol == 'Equipo Directivo' && existeTramoGuardia(3) 
              || (usuario?.rol == 'Profesor' && esProfesorDeGuardia(3))" class="btn-eliminar"
                type="button" (click)="confirmarEliminar(3)"><i class="bi bi-x-circle-fill"></i></button>
            </div>
            <p class="profesorGuardia">Profesor: {{ cargarProfesorPorTramo(3) }}</p>
            <select *ngIf="usuario?.rol == 'Equipo Directivo' && checkboxMarcados[3] && !existeTramoGuardia(3)"
              [attr.data-tramo]="3" name="profesorGuardia" class="form-select selectFiltroPersonalizado">
              <option [ngValue]="null">Seleccione profesor</option>
              <option *ngFor="let profesor of profesores" [value]="profesor.nombreProfesor">
                {{ profesor.nombreProfesor }}
              </option>
            </select>
          </div>

          <div>
            <div class="linea-checkbox">
              <label class="checkboxPersonalizado">
                <input type="checkbox" id="cuartoTramo" name="tramo" value="4" [checked]="existeTramoGuardia(4)"
                  [disabled]="existeTramoGuardia(4) || existeHoraCompleta() || deshabilitarTramo()" (change)="estadoCheckbox($event,4)">
                <span class="recuadroCheck"></span>
                Cuarto tramo
              </label>
              <button *ngIf="usuario?.rol == 'Equipo Directivo' && existeTramoGuardia(4)
              || (usuario?.rol == 'Profesor' && esProfesorDeGuardia(4))" class="btn-eliminar"
                type="button" (click)="confirmarEliminar(4)"><i class="bi bi-x-circle-fill"></i></button>
            </div>
            <p class="profesorGuardia">Profesor: {{ cargarProfesorPorTramo(4) }}</p>
            <select *ngIf="usuario?.rol == 'Equipo Directivo' && checkboxMarcados[4] && !existeTramoGuardia(4)"
              [attr.data-tramo]="4" name="profesorGuardia" class="form-select selectFiltroPersonalizado">
              <option [ngValue]="null">Seleccione profesor</option>
              <option *ngFor="let profesor of profesores" [value]="profesor.nombreProfesor">
                {{ profesor.nombreProfesor }}
              </option>
            </select>
          </div>

          <hr>

          <div>
            <div class="linea-checkbox">
              <label class="checkboxPersonalizado">
                <input type="checkbox" id="horaCompleta" name="tramo" value="5" [checked]="existeTramoGuardia(5)"
                  [disabled]="existeTramoGuardia(5) || deshabilitarHoraCompleta()" (change)="estadoCheckbox($event,5)">
                <span class="recuadroCheck"></span>
                Hora completa
              </label>
              <button *ngIf="usuario?.rol == 'Equipo Directivo'  && existeTramoGuardia(5)
              || (usuario?.rol == 'Profesor' && esProfesorDeGuardia(5))" class="btn-eliminar"
                type="button" (click)="confirmarEliminar(5)"><i class="bi bi-x-circle-fill"></i></button>
            </div>
            <p class="profesorGuardia">Profesor: {{ cargarProfesorPorTramo(5) }}</p>
            <select *ngIf="usuario?.rol == 'Equipo Directivo' && checkboxMarcados[5] && !existeTramoGuardia(5)"
              [attr.data-tramo]="5" name="profesorGuardia" class="form-select selectFiltroPersonalizado">
              <option [ngValue]="null">Seleccione profesor</option>
              <option *ngFor="let profesor of profesores" [value]="profesor.nombreProfesor">
                {{ profesor.nombreProfesor }}
              </option>
            </select>
          </div>

          <div class="botonForm">
            <button type="submit" class="btn btn-green" [disabled]="guardiaCompleta()">
              <i class="bi bi-check-circle-fill"></i>
              Confirmar
            </button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>


<!-- Modal de errores -->
<app-modal-error #modalError></app-modal-error>


<!-- Modal de registro correcto -->
<app-modal-registro #modalRegistro></app-modal-registro>

<!-- Modal para confirmar un borrado -->
<app-modal-eliminar #modalEliminar (eliminar)="eliminarGuardia($event)"></app-modal-eliminar>