<div class="modal fade" id="tramosModal" tabindex="-1" aria-labelledby="tramosModalLabel" aria-hidden="true"
  [ngClass]="{'show': modalActivo}" [style.display]="modalActivo ? 'block' : 'none'">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center w-100" id="tramosModalLabel">Tramos de Guardia</h5>
        <button type="button" class="btn-close" (click)="cerrarModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form>

          <div>
            <div>
              <label class="checkboxPersonalizado">
                <input type="checkbox" id="primerTramo" name="primerTramo" value="1">
                <span class="recuadroCheck"></span>
                Primer tramo
              </label>
            </div>
            <p class="profesorGuardia">Profesor: </p>
          </div>

          <div>
            <div>
              <label class="checkboxPersonalizado">
                <input type="checkbox" id="segundoTramo" name="segunddoTramo" value="2">
                <span class="recuadroCheck"></span>
                Segundo tramo
              </label>
            </div>
            <p class="profesorGuardia">Profesor: </p>
          </div>

          <div>
            <div>
              <label class="checkboxPersonalizado">
                <input type="checkbox" id="tercerTramo" name="tercerTramo" value="3">
                <span class="recuadroCheck"></span>
                Tercer tramo
              </label>
            </div>
            <p class="profesorGuardia">Profesor: </p>
          </div>

          <div>
            <div>
              <label class="checkboxPersonalizado">
                <input type="checkbox" id="cuartoTramo" name="cuartoTramo" value="4">
                <span class="recuadroCheck"></span>
                Cuarto tramo
              </label>
            </div>
            <p class="profesorGuardia">Profesor: </p>
          </div>

          <hr>

          <div>
            <div>
              <label class="checkboxPersonalizado">
                <input type="checkbox" id="horaCompleta" name="horaCompleta" value="5">
                <span class="recuadroCheck"></span>
                Hora completa
              </label>
            </div>
            <p class="profesorGuardia">Profesor: </p>
          </div>

          <div class="btn-form">
            <button type="submit" class="btn btn-green">
              <i class="bi bi-check-circle-fill"></i>
              Confirmar
            </button>
          </div>
        </form>

        <!--
        <p> {{ idAusencia }} </p>
        -->
      </div>
    </div>
  </div>
</div>