<!-- Modal de registro -->
<div class="modal fade" id="regModal" tabindex="-1" aria-labelledby="regModalLabel"
  [ngClass]="{'show': modalRegistroActivo}" [style.display]="modalRegistroActivo ? 'block' : 'none'">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center w-100" id="regModalLabel">Registro</h5>
        <button type="button" class="btn-close" (click)="cerrarModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Registrado correctamente</p>
      </div>
    </div>
  </div>
</div>
