<!-- Modal de información de eliminar Tarea -->
<div class="modal fade" id="noDatosModal" tabindex="-1" aria-labelledby="noDatosModalLabel"
  [ngClass]="{'show': modalNoDatosActivo}" [style.display]="modalNoDatosActivo ? 'block' : 'none'">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center w-100" id="noDatosModalLabel">Información</h5>
        <button type="button" class="btn-close" (click)="cerrarModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-center">No hay tarea para eliminar.</p>
      </div>
    </div>
  </div>
</div>
