<ng-container>
  <div class="main-container">
    <div class="view-container shadow mx-3 mx-xxl-0">
      <div class="view-title">
        <h1>Listado</h1>
      </div>
      <div class="tabla-container">
        <h3 class="titulo-tabla">Mis Ausencias</h3>
        <table class="tabla-ausencias">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Grupo</th>
              <th>Hora</th>
              <th>Asignatura</th>
              <th>Detalles</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ausencia of ausencias">
              <td>{{ ausencia.fechaAusencia }}</td>
              <td>{{ ausencia.horariosProfesor.grupo }}</td>
              <td>{{ ausencia.horariosProfesor.hora }}</td>
              <td>{{ ausencia.horariosProfesor.asignatura }}</td>
              <td>
                <button
                  class="btn-detalles">
                  <i class="bi bi-plus-lg"></i>
                </button>
              </td>
              <td>
                <button class="btn-eliminar" (click)="abrirModal(ausencia)">
                  <i class="bi bi-trash-fill"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>
<!-- Modal -->
<div class="modal-container" *ngIf="mostrarModal">
  <div class="modal-content shadow mx-3 mx-xxl-0">
    <div class="modal-header">
      <h1>Eliminar</h1>
    </div>
    <div class="modal-body">
      <p><strong>¿Desea Eliminar?</strong></p>
      <button class="btn modal-btn-green" (click)="confirmarEliminacion()">
        <i class="bi bi-check-circle-fill"></i>
      </button>
      <button class="btn modal-btn-red" (click)="cancelarEliminacion()">
        <i class="bi bi-x-circle-fill"></i>
      </button>
    </div>
  </div>
</div>

