<div class="d-flex justify-content-center align-items-center fondo-login vh-100">
  <div class="card shadow card-login">

    <div class="icono-login position-absolute top-0 start-50 translate-middle">
      <i class="bi bi-person-fill icono-login"></i>
      
    </div>

    <form [formGroup]="formularioLogin" (ngSubmit)="onSubmit()">
      <!-- Usuario -->
      <div class="input-group">
        <span class="input-group-text"><i class="bi bi-person"></i></span>
        <input type="text" id="usuarioInput" class="form-control" formControlName="usuario" placeholder="Usuario"
          [ngClass]="{'is-invalid': submit && formularioLogin.get('usuario')?.invalid}" />
        <div class="invalid-feedback" *ngIf="submit && formularioLogin.get('usuario')?.errors?.['required']">
          Debe introducir el nombre de usuario
        </div>
      </div>

      <!-- Contraseña -->
      <div class="input-group">
        <span class="input-group-text"><i class="bi bi-key"></i></span>
        <input type="{{ inputType }}" id="passwordInput" class="form-control" formControlName="password" placeholder="Contraseña"
        [ngClass]="{'is-invalid': submit && formularioLogin.get('password')?.invalid}" />
          <span 
          class="input-group-text" 
          (mousedown)="mostrarPassword()" 
          (mouseup)="ocultarPassword()" 
          (mouseleave)="ocultarPassword()">
          <i class="bi bi-eye visualizar"></i>
        </span>
        <div class="invalid-feedback" *ngIf="submit && formularioLogin.get('usuario')?.errors?.['required']">
          Debe introducir una contraseña
        </div>
      </div>

      <!-- Perfil -->
      <div class="input-group">
        <select id="rolInput" class="form-select selectPersonalizado" formControlName="rol"
          [ngClass]="{'is-invalid': submit && formularioLogin.get('rol')?.invalid}">
          <option value="" disabled selected>Perfil</option>
          <option value="profesor">Profesor</option>
          <option value="directivo">Directivo</option>
        </select>
        <div class="invalid-feedback" *ngIf="submit && formularioLogin.get('rol')?.errors?.['required']">
          Debe seleccionar un perfil
        </div>
      </div>

      <!-- Curso Académico -->
      <div class="input-group">
        <select id="cursoInput" class="form-select selectPersonalizado" formControlName="cursoAcademico">
          <option value="2024" selected>2024</option>
        </select>
      </div>

      <!-- Enviar -->
      <div class="d-grid">
        <button type="submit" class="btn btn-login">CONECTAR</button>
      </div>
    </form>
  </div>
</div>