<div class="d-flex justify-content-center align-items-center fondo-login vh-100">
  <div id="ventanaLogin" class="card shadow card-login" >

    <div id="iconoLogin" class="icono-login position-absolute top-0 start-50 translate-middle" >
      <i class="bi bi-person-fill icono-login"></i>
    </div>

    <form #formulario="ngForm" id="formularioLogin" (ngSubmit)="onSubmit(formulario)" autocomplete="off" novalidate >
      <!-- Usuario -->
      <div class="input-group" [ngClass]="{'input-invalido': submit && password.invalid}">
        <span class="input-group-text"><i class="bi bi-person"></i></span>
        <input #username="ngModel" type="text" id="inputUsuario" class="form-control" name="username" placeholder="Usuario"
          [(ngModel)]="usuarioLogin.username" required />
      </div>
      <div class="texto-invalido" *ngIf="submit && username.invalid">
        Debe introducir el nombre de usuario
      </div>

      <!-- Contraseña -->
      <div class="input-group" [ngClass]="{'input-invalido': submit && password.invalid}">
        <span class="input-group-text"><i class="bi bi-key"></i></span>
        <input #password="ngModel" type="{{ inputType }}" id="inputPasword" class="form-control" name="password" placeholder="Contraseña"
        [(ngModel)]="usuarioLogin.password" autocomplete="new-password" required/>
        <span class="input-group-text icono-visualizar" (mousedown)="mostrarPassword()" (mouseup)="ocultarPassword()" (mouseleave)="ocultarPassword()">
          <i class="bi bi-eye"></i>
        </span>
      </div>
      <div class="texto-invalido" *ngIf="submit && password.invalid">
        Debe introducir una contraseña
      </div>

      <!-- Perfil -->
      <div class="input-group">
        <select #rol="ngModel" id="inputRol" class="form-select selectPersonalizado" name="rol"
        [(ngModel)]="usuarioLogin.rol" [ngClass]="{'input-invalido': submit && rol.invalid}" required >
          <option value="" disabled selected>Perfil</option>
          <option value="Profesor">Profesor</option>
          <option value="Equipo Directivo">Directivo</option>
        </select>
      </div>
      <div class="texto-invalido" *ngIf="submit && rol.invalid">
        Debe seleccionar un perfil
      </div>

      <!-- Curso Académico -->
      <div class="input-group">
        <select id="inputCurso" class="form-select selectPersonalizado" name="cursoAcademico">
          <option value="2024" selected>2024</option>
        </select>
      </div>

      <!-- Enviar -->
      <div class="d-grid">
        <button type="submit" class="btn btn-login">CONECTAR</button>
      </div>
    </form>
  </div>
</div>