<ng-container *ngIf="usuarioLogueado">
    <ng-container [ngSwitch]="rol">
        <app-menu-profesor *ngSwitchCase="'profesor'"></app-menu-profesor>
        <app-menu-directivo *ngSwitchCase="'directivo'"></app-menu-directivo>
    </ng-container>
</ng-container>


<app-listado-ausencias-profesor></app-listado-ausencias-profesor>


<div class="main-container">
    <div class="view-container shadow mx-3 mx-xxl-0">
        <div class="view-title">
            <h1>Título de vista</h1>
        </div>
        <div class="view-body">
            <p>Contenido de vista</p>

            <button class="btn btn-green">
                <i class="bi bi-check-circle-fill"></i>
                Confirmar
            </button>
            <button class="btn btn-red">
                <i class="bi bi-x-circle-fill"></i>
                Eliminar
            </button>

        </div>
    </div>
</div>

<router-outlet></router-outlet>