<ng-container *ngIf="usuario">
  <div class="main-container">
    <div class="view-container shadow mx-3 mx-xxl-0">
      <div class="view-title">
        <h1>
          {{
            usuario.rol === "Profesor" ? "Mis Ausencias" : "Todas las Ausencias"
          }}
        </h1>
      </div>

      <div class="tabla-container">
        <div *ngIf="usuario?.rol === 'Equipo Directivo'">
          <form class="row g-2 align-items-end mb-3">
            <!-- Fecha desde -->
            <div class="col-md-3">
              <label for="fechaDesde" class="form-label">Fecha desde:</label>
              <div class="posicion-icono">
                <input
                  type="date"
                  class="form-control campo-con-icono"
                  id="fechaDesde"
                  name="fechaDesde"
                  [(ngModel)]="fechaDesde"
                />
                <span class="icono-input">
                  <i class="bi bi-calendar-event-fill"></i>
                </span>
              </div>
            </div>

            <!-- Fecha hasta -->
            <div class="col-md-3">
              <label for="fechaHasta" class="form-label">Fecha hasta:</label>
              <div class="posicion-icono">
                <input
                  type="date"
                  class="form-control campo-con-icono"
                  id="fechaHasta"
                  name="fechaHasta"
                  [(ngModel)]="fechaHasta"
                />
                <span class="icono-input">
                  <i class="bi bi-calendar-event-fill"></i>
                </span>
              </div>
            </div>

            <!-- Profesor -->
            <div class="col-md-4">
              <label for="profesor" class="form-label">Profesor:</label>
              <div class="posicion-icono">
                <select
                  class="form-select campo-con-icono"
                  id="profesor"
                  name="profesor"
                  [(ngModel)]="profesorFiltro"
                >
                  <option [ngValue]="null" disabled>Seleccione profesor</option>
                  <option
                    *ngFor="let profesor of profesores"
                    [value]="profesor.nombreProfesor"
                  >
                    {{ profesor.nombreProfesor }}
                  </option>
                </select>
                <span class="icono-input">
                  <i class="bi bi-caret-down-fill"></i>
                </span>
              </div>
            </div>

            <!-- Botón buscar -->
            <div class="col-md-2">
              <button
                type="button"
                class="btn btn-success w-100"
                (click)="aplicarFiltros()"
              >
                <i class="bi bi-search"></i> Buscar
              </button>
            </div>
          </form>
        </div>
        <table
          class="tabla-ausencias"
          *ngIf="ausencias.length > 0; else noDatos"
        >
          <thead>
            <tr>
              <!-- Condicional: Mostrar columna 'Profesor' si el rol es Equipo Directivo -->

              <th>Fecha</th>
              <th>Grupo</th>
              <th>Hora</th>
              <th *ngIf="usuario?.rol === 'Equipo Directivo'">Profesor</th>
              <th>Asignatura</th>
              <th>Detalles</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ausencia of ausencias">
              <!-- Condicional: Mostrar nombre del profesor si el rol es Equipo Directivo -->
              <td>{{ ausencia.fechaAusencia }}</td>
              <td>{{ ausencia.horariosProfesor.grupo }}</td>
              <td>{{ ausencia.horariosProfesor.hora }}</td>
              <td *ngIf="usuario?.rol === 'Equipo Directivo'">
                {{ ausencia.profesor.nombreProfesor }}
              </td>
              <td>{{ ausencia.horariosProfesor.asignatura }}</td>
              <td>
                <button class="btn-detalles">
                  <i class="bi bi-plus-lg"></i>
                </button>
              </td>
              <td>
                <button class="btn-eliminar" (click)="abrirModal(ausencia)">
                  <i class="bi bi-trash-fill"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div
          class="responsive-cards"
          *ngIf="ausencias.length > 0 && isMobile()"
        >
          <div class="ausencia-card" *ngFor="let ausencia of ausencias">
            <div class="card-header">{{ ausencia.fechaAusencia }}</div>
            <div>
              <strong>Grupo:</strong> {{ ausencia.horariosProfesor.grupo }}
            </div>
            <div>
              <strong>Hora:</strong> {{ ausencia.horariosProfesor.hora }}
            </div>
            <div *ngIf="usuario?.rol === 'Equipo Directivo'">
              <strong>Profesor:</strong> {{ ausencia.profesor.nombreProfesor }}
            </div>
            <div>
              <strong>Asignatura:</strong>
              {{ ausencia.horariosProfesor.asignatura }}
            </div>

            <div class="card-actions">
              <button class="btn-detalles">
                <i class="bi bi-plus-lg"></i>
              </button>
              <button class="btn-eliminar" (click)="abrirModal(ausencia)">
                <i class="bi bi-trash-fill"></i>
              </button>
            </div>
          </div>
        </div>

        <!-- Mensaje si no hay datos -->
        <ng-template #noDatos>
          <p class="text-muted">No hay ausencias disponibles.</p>
        </ng-template>
      </div>
    </div>
  </div>
</ng-container>

<!-- Modal de confirmación -->
<div class="modal-container" *ngIf="mostrarModal">
  <div class="modal-content shadow mx-3 mx-xxl-0">
    <div class="modal-header">
      <h1>Eliminar</h1>
    </div>
    <div class="modal-body">
      <p><strong>¿Desea Eliminar?</strong></p>
      <button class="btn modal-btn-green" (click)="confirmarEliminacion()">
        <i class="bi bi-check-circle-fill"></i>
      </button>
      <button class="btn modal-btn-red" (click)="cancelarEliminacion()">
        <i class="bi bi-x-circle-fill"></i>
      </button>
    </div>
  </div>
</div>
