<div class="main-container">
  <div class="view-container shadow mx-3 mx-xxl-0">
    <div class="view-title">
      <h1>Ausencias</h1>
    </div>

    <div class="view-body">
      <div id="opcionesListado" class="d-flex justify-content-between align-items-center">

        <!-- Indicador de fecha -->
        <ng-container *ngIf="!fechaDesde && !fechaHasta">
          <p class="fw-semibold m-0">Ausencias del día {{ fechaUnica | date : "dd/MM/yyyy" }}
          </p>
        </ng-container>
        <ng-container *ngIf="fechaDesde || fechaHasta">
          <p class="fw-semibold m-0">
            Ausencias desde {{ fechaDesde | date : "dd/MM/yyyy" }} hasta
            {{ fechaHasta | date : "dd/MM/yyyy" }}
          </p>
        </ng-container>
      </div>

      <app-filtrado *ngIf="usuario?.rol == 'Equipo Directivo'"
        (filtrosAplicados)="aplicarFiltrosDesdeComponente($event)"></app-filtrado>

      <div id="divTabla" class="table-container">
        <table class="table shadow tabla-ausencias">
          <thead>
            <tr>
              <!-- Condicional: Mostrar columna 'Profesor' si el rol es Equipo Directivo -->

              <th>Fecha</th>
              <th>Grupo</th>
              <th>Hora</th>
              <th *ngIf="usuario?.rol === 'Equipo Directivo'">Profesor</th>
              <th>Asignatura</th>
              <th>Detalles</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ausencia of ausencias">
              <!-- Condicional: Mostrar nombre del profesor si el rol es Equipo Directivo -->
              <td>{{ ausencia.fechaAusencia }}</td>
              <td>{{ ausencia.horariosProfesor.grupo }}</td>
              <td>{{ ausencia.horariosProfesor.hora }}</td>
              <td *ngIf="usuario?.rol === 'Equipo Directivo'">
                {{ ausencia.profesor.nombreProfesor }}
              </td>
              <td>{{ ausencia.horariosProfesor.asignatura }}</td>
              <td>
                <button class="btn-detalles">
                  <i class="bi bi-plus-square-fill"></i>
                </button>
              </td>
              <td>
                <button class="btn-eliminar" (click)="abrirModal(ausencia)">
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
            <!-- Si no hay ausencias, mostramos un mensaje -->
            <tr *ngIf="ausencias.length === 0">
              <td [attr.colspan]="usuario?.rol === 'Equipo Directivo' ? 7 : 6" class="text-center">
                No hay ausencias disponibles.
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="responsive-cards" *ngIf="ausencias.length > 0 && isMobile()">
        <div class="ausencia-card" *ngFor="let ausencia of ausencias">
          <div class="card-header">{{ ausencia.fechaAusencia }}</div>
          <div>
            <strong>Grupo:</strong> {{ ausencia.horariosProfesor.grupo }}
          </div>
          <div><strong>Hora:</strong> {{ ausencia.horariosProfesor.hora }}</div>
          <div *ngIf="usuario?.rol === 'Equipo Directivo'">
            <strong>Profesor:</strong> {{ ausencia.profesor.nombreProfesor }}
          </div>
          <div>
            <strong>Asignatura:</strong>
            {{ ausencia.horariosProfesor.asignatura }}
          </div>

          <div class="card-actions">
            <button class="btn-detalles">
              <i class="bi bi-plus-lg"></i>
            </button>
            <button class="btn-eliminar" (click)="abrirModal(ausencia)">
              <i class="bi bi-trash-fill"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal de confirmación -->
<app-modal-eliminar #modalEliminar (eliminar)="manejarEliminacion($event)">
</app-modal-eliminar>