<div class="main-container">
  <div class="view-container shadow mx-3 mx-xxl-0">
    <div class="view-title">
      <h1>Total Horas de Guardia</h1>
    </div>

    <div class="view-body">
      <div id="opcionesListado" class="d-flex justify-content-between align-items-center">
        <div id="botonesListado">
          <button class="btn btn-green">
            <i class="bi bi-printer-fill"></i>
            Imprimir PDF
          </button>
        </div>

        <p class="fw-semibold m-0">Total horas de guardia desde XXX</p>

      </div>

      <div id="divTabla" class="table-container">

        <table class="table shadow tablaPrincipal">
          <thead>
            <tr>
              <th>Profesor</th>
              <th>Total Horas</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let profesor of profesoresConHoras">
              <td>{{ profesor.nombreProfesor }}</td>
              <td>{{ profesor.totalHoras }}</td>
            </tr>
          </tbody>
        </table>



      </div>






    </div>
  </div>
</div>
